extends layout

block content
	.nav.navbar.navbar-default
		.container-fluid
			.navbar-header(data-spy="affix")
			.collapse.navbar-collapse
				ul.nav.navbar-nav
					li: a(href='/') FIND YOUR TYPE
					li: a(href='/test/mbti') TAKE THE TEST
					li: a(href='#') COMPATIBILITY

	#headline-container.container-fluid
		.row
			.col-xs-12
				h4 Your type is
		.row
			.col-xs-12
				h1#result-title= headline_result.short
		.row
			.col-xs-12
				h2#result-subtitle The #{headline_result.description}
		#type-breakdown.row
			for result,index in results 		
				.col-xs-6.col-sm-3
					.well
						p.dimension-result-percentage= (Math.round(result*100,0)) + "%"
						p.dimension-result-name= test.metrics[index][binary_results[index]].long


block packages
	link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css",integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u",crossorigin="anonymous")
	link(rel='stylesheet', href='/stylesheets/results.css')
	script(src="https://code.jquery.com/jquery-3.2.1.min.js", integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=", crossorigin="anonymous")
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa",crossorigin="anonymous")