extends layout

block content
	.nav.navbar.navbar-default
		.container-fluid
			.navbar-header
				button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='/') FIND YOUR TYPE
			#navbar.collapse.navbar-collapse
				ul.nav.navbar-nav
					li: a(href='/test/mbti') TAKE THE TEST
					li: a(href='/test/compatibility') COMPATIBILITY

	.container#title-container
		.row
			.col-lg-12
				h1#title= test.name
				h4#title-description= test.description
		hr

	.container#test-container
		form#test_form(action='/test/mbti/result', method='POST')
			.owl-carousel
				- for(var i = 0; i < test.questions.length/6; i++) {
					.carousel-question-wrapper
						each subindex in [0, 1, 2, 3, 4, 5]
							if test.questions[6*i + subindex]
								.row
									.col-xs-12
										p.statement #{test.questions[6*i + subindex].text}
								.row
									.radio_row.col-xs-12
										input.slider(name=test.questions[6*i + subindex].id, type='range',min='-3',max='3',value='0')
								.row
									.col-xs-6
										p.disagree DISAGREE
									.col-xs-6
										p.agree AGREE
										
								hr.question-break							
				- }
			.row
				.col-lg-12#submit-div
					button.btn.btn-default#next-page(type='button') Continue

block packages
	link(rel="stylesheet",href="/owlcarousel/assets/owl.carousel.min.css")
	link(rel="stylesheet",href="/owlcarousel/assets/owl.theme.default.min.css")
	link(rel='stylesheet', href='/stylesheets/test.css')
	script(src="/owlcarousel/owl.carousel.min.js")
	script(src='/javascripts/test.js')