extends layout

block content
	.container#title_container
		.row
			.col-lg-12
				h1= test.name
	.container#test_container
		form(action='/test/mbti/result', method='POST')
			each question in test.questions
				.row
					.col-lg-12
						p.statement #{question.text}
				.row
					.radio_row.col-lg-12
						p.disagree DISAGREE
						each val in [-3, -2, -1, 0, 1, 2, 3]
							input.radiobtn(name=question.id, type='radio', value=val)
							label(radio_value=val)
						p.agree AGREE
				hr
			.row
				.col-lg-12
					button(type='submit') Submit

block packages
	link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css",integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u",crossorigin="anonymous")
	link(rel='stylesheet', href='/stylesheets/test.css')
	script(src="https://code.jquery.com/jquery-3.2.1.min.js", integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=", crossorigin="anonymous")
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa",crossorigin="anonymous")
	script(src='/javascripts/test.js')