body {
	padding: 0px;
	margin: 0px;
 	font-family: 'Source Sans Pro', sans-serif;
}

#headline-container {
	text-align: center;
}

#form-container {
	text-align: center;
}

.carousel-wrapper {
	max-width: 600px;
}

#title {
	font-size: 35px;
	font-weight: bold;
	letter-spacing: 3px;
	margin: 15px 0 5px 0;
}

h2, #subtitle {
	font-size: 20px;
	font-weight: 200;
	font-style: italic;
	margin: 0 0 15px 0;
}

.percentage-input {
	font-size: 18px;
}

#result-wrapper {
	margin-top: 20px;
}

/* ----------------------------- INPUT TOGGLES ---------------- */

.toggle-div {
	vertical-align: middle;
	display: inline-block;
}

p.right-label, p.left-label {
	font-size: 18px;
	display: inline-block;
	position: relative;
	margin-right: 10px;
	margin-left: 10px;
	margin: 10px 10px 10px 10px;
	vertical-align: middle;
	color: #aaa;
	font-weight: normal;
	cursor: pointer;
}

p.left-label {
	text-align: left;
}

p.right-label {
	text-align: right;
}

p.right-label.selected, p.left-label.selected {
	color: #ff9514;
	font-weight: bold;
}

/* ----------------------------- INPUT TOGGLES ---------------- */

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	min-width: 60px;
	height: 36px;
	vertical-align: middle;
}

.switch input {
	display: none;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 18px;
	background-color: #aaa;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 28px;
	width: 28px;
	left: 4px;
	bottom: 4px;
	border-radius: 14px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider:before {
	-webkit-transform: translateX(24px);
	-ms-transform: translateX(24px);
	transform: translateX(24px);
}