body {
	padding: 0px;
	margin: 0px;
 	font-family: 'Gentium Basic', serif;
}

html, body {
	height: 100%;
	width: 100%;
}

.mid_panel {
	position: relative;
	top: 50%;
}

.panel {
	height: 100%;
	width: 100%;
	text-align: center;
/*	margin-bottom: 400px;*/
}

	background-color: #3883d8;
}
.turqoise {
	background-color: #38ced7;
}
.brown {
	background-color: #a66f28;
}
.bordeaux {
	background-color: #953543;
}
.skin {
	background-color: #ED9F4C;
}
.black {
	background-color: #000000;
}
.white {
	background-color: #FFFFFF;
}
.red {
	background-color: #cf3535;
}
.green {
	background-color: #22d659;
}
.orange {
	background-color: #ea6300;
}