body {
	padding: 0px;
	margin: 0px;
 	font-family: 'Source Sans Pro', sans-serif;
}

#headline-container {
	text-align: center;
}

/* ---------------------- SECTION SIZING --------------------- */

.type-section {
	height: 30em;
	text-align: center;
}

.metric-section {
	height: 20em;
	width: 100%;
	text-align: center;
}

.metric-section-inner {
	height: 100%;
	width: 100%;
	max-width: 800px;
	text-align: left;
	display: inline-block;
}

/* ---------------------- RESULT --------------------- */

.result-lead-in {
	padding: 4em 0 0 0;
}

.headline-result {
	font-size: 150px;
	font-weight: bold;
	letter-spacing: 5px;
}

.result-subtitle {
	font-size: 30px;
	font: italic;
}

/* ---------------------- DIMENSION FORMATTING --------------------- */

.label-div.left {
	float: left;
}

.label-div.right {
	float: right;
}

.dimension-label {
	font-size: 180px;
	font-weight: bolder;
	margin: auto 20px auto auto;
}

.dimension-headline {
	font-size: 32px;
	margin: 36px auto auto auto;
}

.dimension-description {
	font-size: 18px;
}
